@charset "utf-8";

html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd,
span {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
.header {
    position: relative;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.51%;
    padding-right: 6.53%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

/* ％出す時は作りたいサイズに対して写真のサイズを確認して割る */

.logo {
    width: 226.7px;
}

.pc-nav ul {
    display: flex;
}

.pc-nav ul li {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 105px;
    margin-right: 54px;
    text-align: center;
}

.pc-nav ul li:last-child {
    margin-right: 0;
}

.slider img {
    width: 100%;
}

.slider source {
    width: 100%;
}

/* スマホメニュー　PC版では消す */
.sp-nav,
.hamburger {
    display: none;
}

/* スライダーの調整 */
.slick-dots {
    bottom: 25px;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dots li button::before {
    color: #fff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* メイン */
main {
    background-color: #E8D9BF;
}

.semi-title {
    text-align: center;
    font-size: 30px;
    padding-top: 105px;
}

.title {
    text-align: center;
    font-size: 82px;
    padding-top: 70px;
    line-height: 1.171;
    letter-spacing: 0.1em;
}

.semi-title2 {
    text-align: center;
    font-size: 23px;
    padding-top: 55px;
    letter-spacing: 0.1em;
    line-height: 1.652;
}

.sp-semi-title2 {
    display: none;
}

.section_aboutus {
    max-width: 1000px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.latte {
    width: 50%;
    flex-shrink: 0;
}

.latte img {
    border-radius: 0 0 70px 0;
}

.container {
    width: 50%;
    padding-top: 55px;
    padding-left: 80px;
    padding-right: 10px;
}

.about_us {
    width: 272px;
}

.semi-title3 {
    font-size: 44px;
    line-height: 1.386;
    margin-top: 45px;
}

.message {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.625;
}

.sp-about_us,
.sp-container {
    display: none;
}


.section_menu {
    max-width: 1000px;
    margin: auto;
}

.MENU {
    width: 151px;
    margin: auto;
    margin-top: 100px;

}

.section_menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}


.section_menu ul li {
    width: 30%;
}

.section_menu ul img {
    border-radius: 0 50px 0 0;
}

.li_menu {
    font-size: 38px;
    margin-top: -15px;
    color: #D30202;
    margin-left: 10px;
}

.message2 {
    font-size: 17px;
    line-height: 1.471;
    margin-top: 15px;
}


.section_gallery {
    margin: auto;
    margin-top: 100px;
}

.GALLERY {
    width: 245px;
    margin: auto;
}

.slider_gallery {
    display: flex;
    margin-top: 25px;
}

.slide-arrow {
    cursor: pointer;
    margin: auto;
    z-index: 100;
}

.next-arrow {
    position: absolute;
    right: 21.8%;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
}

.prev-arrow {
    position: absolute;
    left: 21.8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 45px;
    height: 45px;
}


.section_event {
    margin: auto;
    margin-top: 65px;
}

.EVENT {
    margin: auto;
    width: 174px;
}

.event_menu {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    border: solid 3.68px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.announce {
    margin: auto;
    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 160px;
}


.announce p {
    line-height: 1.96;
    font-size: 23px;
}

.announce p span {
    text-decoration-line: underline;
    padding-left: 55px;
}

.sp-announce {
    display: none;
}

.section_access {
    margin: auto;
    margin-top: 95px;
}

.ACCESS {
    width: 214px;
    margin: auto;
}

iframe {
    width: 100%;
    height: 471px;
    margin-top: 45px;
    vertical-align: bottom;
}

/* フッター */

.footer {
    background-color: #fff;
    position: relative;
}

.wrapper2 {
    padding-top: 83px;
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.footer_logo {
    width: 226px;
}

.news {
    font-size: 20px;
    line-height: 1.95;
    margin-left: 65px;
}

.DESIGN_CAFE {
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.toTop {
    position: fixed;
    width: 125px;
    right: 20px;
    bottom: 20px;
}

html {
    scroll-behavior: smooth;
}


@media screen and (max-width: 1100px) {
    .pc-nav {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        height: 33px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .hamburger span {
        height: 2px;
        width: 33px;
        background: #fff;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .hamburger span::before,
    .hamburger span::after {
        content: "";
        height: 2px;
        width: 33px;
        background: #fff;
        display: block;
        position: relative;
        position: absolute;
        transition: 0.3s;
    }

    .hamburger span::before {
        bottom: 10px;
    }

    .hamburger span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    .sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
    }

    .sp-nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp-nav ul li {
        color: #fff;
        padding: 10px 0;
        font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
            "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
            "ＭＳ 明朝", serif;
        text-align: center;
        font-size: 18px;
    }

    .semi-title {
        font-size: 36px;
    }

    .title {
        font-size: 85px;
        letter-spacing: normal;
    }

    .semi-title2 {
        font-size: 24px;
    }

    .sp-semi-title2 {
        display: none;
    }
}



@media screen and (max-width: 767px) {

    .logo {
        width: 188px;
    }

    .hamburger {
        top: 20px;
        right: 23px;
    }

    .semi-title {
        font-size: 4.533vw;
        padding-top: 43px;
    }

    .title {
        font-size: 10.133vw;
        padding-top: 25px;

    }

    .semi-title2 {
        display: none;
    }

    .sp-semi-title2 {
        display: block;
        font-size: 4.267vw;
        line-height: 1.875;
        text-align: center;
        padding-top: 25px;
        letter-spacing: 0.1em;
    }

    .latte {
        width: 100%;
    }

    .latte img {
        border-radius: 0 0 0 0;
        margin-top: 10px;
    }

    .section_aboutus {
        flex-direction: column;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 65px;
    }

    .about_us {
        display: none;
    }

    .sp-about_us {
        display: block;
        width: 160px;
        margin: auto;
    }

    .container {
        display: none;
    }

    .sp-container {
        display: block;
        padding-left: 10px;
        padding-right: 10px;

    }

    .semi-title3 {
        display: block;
        line-height: 1.25;
        font-size: 36px;
    }

    .box {
        margin: auto;
    }

    .message {
        line-height: 1.75;
        font-size: 16px;
    }

    .MENU {
        width: 87px;
        margin-top: 50px;
    }

    .section_menu ul {
        display: block;
        padding-left: 35px;
        padding-right: 35px;
    }

    .section_menu ul li {
        width: 100%;
        padding-bottom: 60px;
    }

    .section_menu ul li:last-child {
        padding-bottom: 0;
    }

    .section_gallery {
        margin-top: 95px;
    }

    .GALLERY {
        width: 142px;
    }

    .next-arrow {
        position: absolute;
        right: 4.8%;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
    }

    .prev-arrow {
        position: absolute;
        left: 4.8%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        width: 45px;
        height: 45px;
    }


    .section_event {
        margin-top: 34px;
    }

    .EVENT {
        width: 101px;
    }

    .event_menu {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .announce {
        display: none;
    }

    .sp-announce {
        display: block;
        padding-left: 30px;
        margin-top: 20px;
    }

    .sp-announce p {
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .sp-announce p span {
        text-decoration: underline;
    }

    .section_access {
        margin-top: 30px;
    }

    .ACCESS {
        width: 124px;
    }

    iframe {
        height: 190px;
        margin-top: 10px;
    }

    .footer_logo {
        width: 60.3%;
        margin-left: 20px;
    }

    .wrapper2 {
        padding-top: 50px;
        display: block;
    }

    .news {
        font-size: 18px;
        line-height: 1.72;
        margin-top: 30px;
        margin-left: 20px;
    }

    .DESIGN_CAFE {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    .toTop {
        position: fixed;
        width: 100px;
        bottom: 10px;
        right: 10px;
    }
}